



.nav-link:hover{
color: #4D3EAA;
transition: color 0.3s ease; 
}

.nav-link.user {
    color: white; 
    transition: color 0.3s ease; 
  }

  .nav-link.user:hover {
    color: #FFC108; 
  }


.main h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-toggler{
    background-color: #212529;
     }
.nav-link{
    color: black;
}

.navbar.bg-dark {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
  }
  
  .navbar.bg-warning  {
    position: sticky; 
    top: 86px; 
    z-index: 999; 
  }
.card-body{
    background-color: #343a40;
}

h1 {
    font-family: 'Arial', sans-serif; 
    color: #FFD700; 
    text-shadow: 2px 2px #000; 
  }

 
  /* Define tu propio color gris personalizado */
  .bg-custom-gray {
    background-color: #343a40; /* Cambia el valor HEX según el tono de gris deseado */
  }



.bg-custom-gray {
  margin: auto; /* Centra la figura gris horizontalmente */
  max-width: 800px; /* Establece el ancho máximo para mantener la figura gris centrada */
}


/* Estilos personalizados para la alerta */
.custom-alert {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Ancho máximo */
  text-align: center;
  font-size: 1.5em; /* Tamaño de fuente */
}


.custom-figure {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente */
  /* Otros estilos personalizados aquí */
}
