{% extends "aplicacion/base.html" %}
{% load static %}

{% block contenido %}
     
  <div class="mt-5 pb-5"></div>
      <div class="container mt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="rounded bg-dark p-5 text-center">
                    <h1 style="color: aliceblue;">Delivery</h1>
                    <p style="margin-top: 20px;">PRODUCTO: CAIMAN</p>
                    <p style="margin-top: 20px;">ESTADO: ROBADO</p>
                    <p style="margin-top: 20px;">FECHA DE LLEGADA: NUNCA</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock contenido %}